@using Knowit.EpiserverFramework.Web.Features.Pages.ChangePasswordPage

@model ChangePasswordPageViewModel

@{
    ViewBag.Title = "Logga ut";
    Layout = "~/Features/Layouts/_LayoutAdmin.cshtml";
}

@section xtrahead{
    <link href="@Url.Content("~/Frontend/css/adminstyles.css")" rel="stylesheet" />
}
@*<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>*@
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js" type="text/javascript"></script>
<script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="inner-wrap">
        <p class="successText">@ViewBag.Success</p>
        <fieldset>
            <div class="editor-label">
                Nytt lösenord
            </div>

            <div class="editor-field inner">
                @Html.PasswordFor(m => m.CurrentPage.NewPassword)
                @Html.ValidationMessageFor(m => m.CurrentPage.NewPassword)
            </div>

            <div class="editor-label">
                Lösenord igen
            </div>

            <div class="editor-field inner">
                @Html.PasswordFor(m => m.CurrentPage.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.CurrentPage.ConfirmPassword)
            </div>

            <input class="btn-text" type="submit" value="Byt lösenord"/>
        </fieldset>
    </div>
}



